body {font-style: oblique;
    font-size: x-large;
    font-weight: bolder;
    background-attachment: fixed;
    width:100%;
  background-color: aqua;
  background: url("C:\\Users\\SAI KRISHNA\\Pictures\\blue-1273089_1280.webp")
  
}
 
div{
   border-style:solid;
   margin-left: 400px;
   margin-right:300px;
   
}